energy_levels/data_approximation_comparison/anharmonicity_fourth_vs_six_log.pdf
energy_levels/data_approximation_comparison/anharmonicity_fourth_vs_six.pdf
energy_levels/data_approximation_comparison/omega01_fourth_vs_six_log.pdf
energy_levels/data_approximation_comparison/omega01_fourth_vs_six.pdf
